body {margin: 10px 10px;} 
input {margin-left: 5%; 
	border: 1px solid LightSteelBlue; }
table {
	width: 90%;
	min-width: 800px;
	margin: auto;
	border-collapse: collapse;
}
caption {
	font-size: 1.8em;
	color: #4682B4;
	padding: .1em .3em .3em;
}
th	{
	font-size: 1.2em;
	background-color: #FF7F50;
	color: #FFFFFF;
	text-align: left;
}
tr:nth-child(odd) {background-color: #FFEBCD;}
td:first-child	{min-width: 70px;}
td	{
	border: 1px solid #FFA07A;
	padding-left: 6px;
}
td a	{text-decoration: none;}
tfoot tr td {
	font-size: 1.2em;
	background-color: #FF7F50;
	color: #FFFFFF;
	text-align: right;
}
